.zean {
    font-family: "Brygada1918-Regular, Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif";
    color: gold;
    font-style: italic;
}

.zean-like {
    font-family: "Brygada1918-Regular, Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif";
    color: gold;
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

.mark {
    background-color:rgba(255, 255, 0, 0.5)
}

article .sidebar {
    width: 40%;
}

details:has(> .nsfw) summary {
    border-left-color: #f0b72f;
}